<% layout('layout') %>

<a href="worknet" class="btn btn-warning btn-lg btn-block">워크넷</a>
<a href="yahoo" class="btn btn-warning btn-lg btn-block">야휴 파이낸스</a>
<a href="daum-stock" class="btn btn-warning btn-lg btn-block">다음스탁</a>
<a href="naver" class="btn btn-warning btn-lg btn-block">naver</a>
<a href="youtube" class="btn btn-warning btn-lg btn-block">유튜브</a>


